.typewriter_cursor {
  display: flex;
  margin-left: 5px;
  width: 4px;
  height: 40px;
  background-color: currentColor;
  /* animation: blink 1s ease-in-out infinite; */
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
    height: 10px;
  }
  50% {
    opacity: 1;
    height: 40px;
  }
}
